*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
components.md
DesignMindset.md
material-3-expressive-guide.md
Material3ExpressiveDesignGuide.md
rules.md
MVP.md
shapes.md
.agent/
.idea/
.kotlin/